<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <h1 class="display-3">Book reviews</h1>
    <p class="secret-text">Share what you thought</p>

    <form action="/submit" method="POST">

       <i class="fa-solid fa-magnifying-glass"></i><input type="text" class=" text-center" onkeydown="pressed()" name="search" placeholder="look for a book" />
        
       <input type="text" class="form-control text-center" name="review" placeholder="What did you think?">
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>


  </div>
</div>
<script>
  function pressed() {
   alert("press");
  }
  </script>
<%- include('partials/footer') %>