<%- include('partials/header') %>

<div class="container justify-content-center">
  
    <h1 class="display-3">write about what you read</h1>
    <p class="secret-text">Share what you thought</p>
    <div class="container">
      <!-- searchBar -->
<div class="row justify-content-center">
    <div class=" col-10 input-group rounded" style="width: 50%;  ">
      <input type="text" onkeyup="sendData(this)" class="form-control rounded"  placeholder="Choose Your Book" aria-label="Search" aria-describedby="search-addon" />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span></div>
   <div class="col-10 rounded" style="width:90%;height:250px;overflow-y: auto;z-index: 3;  display: block; ">
  <section id="searchResults"  style="  background-color:white ; ">

    </section>
    </div>
    </div> 


</div>

    <!-- input form for review -->
<div class="row justify-content-center" style="position: relative; top: -200px; height:600px ;width:600px;">
  <!-- the book's cover -->
  <div class="col-5  " style="height: 55%;">
<section id="enteredBookImage"  >
</section>
</div>
  
<div class="col-6">
  <h2 id="bookTitle">TITLE</h2>
  <textarea class="form-control rounded-0" placeholder="What did you think?" id="exampleFormControlTextarea1" rows="10">

  </textarea>
  <button type="submit" class="btn btn-dark">Submit</button>
</div>

</div>
      
</div>
<script>
  function  sendData(e){
    const searchResults = document.getElementById("searchResults");
    searchResults.innerHTML="";
    let match = e.value.match(/^[a-zA-Z ]*/);
    let match2 = e.value.match(/\s*/);
    if(match2[0] === e.value){
      searchResults.innerHTML="";
      return;
    }
    if(match[0]===e.value){
      fetch("getBooks",{
      method: "POST",
      headers: {"Content-Type": "application/json"},
      body: JSON.stringify({payload: e.value})
    }).then(res => res.json()).then(data =>{
      let payload = data.payload;
      searchResults.innerHtml = "";
      if(payload.length<1){
        searchResults.innerHTML = "<p>Sorry. Nothing Found</p>";
        return;
      }
      payload.forEach((item,index)=>{
        if(index> 0) searchResults.innerHTML += "<hr>";
        searchResults.innerHTML += `<a id="option" onclick='passBookData(this)'><div style="cursor:pointer; margin-right:5px;" class="row"><img class="col col-lg-2 col-md-4 " style=" height:10%" src=${item.volumeInfo.imageLinks.thumbnail}  /><div class="col col-lg-10 col-md-8 "><p><b>${item.volumeInfo.title}</b></p><p>${item.volumeInfo.authors[0]}, ${item.volumeInfo.publishedDate}</p></div></div></a>`;
        if (index>5){
          return;
        }
      });
      
    });
    return;
    }
    searchResults.innerHTML="";
  };
  function passBookData(e) {
    const searchResults = document.getElementById("searchResults");
    const enteredBookImage = document.getElementById("enteredBookImage");
    const enteredBookTitle = document.getElementById("bookTitle")
    const imageStr = e.querySelector("img").src;
    const bookTitle = e.querySelector("b").innerHTML;
    searchResults.innerHTML = "";
    enteredBookImage.innerHTML = `<div style="border: 1px solid black; "><img src=${imageStr} style="width:100%; height:100%; display:block; " /></div>`
    enteredBookTitle.innerHTML = bookTitle;

  }
  </script>
<%- include('partials/footer') %>