<%- include('partials/header') %>


  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
  
    <h1 class="display-3" id="submitTitle">write about what you read</h1>
    <div class="container">
      <!-- searchBar -->
<div class="row justify-content-center">
    <div class=" col-10 input-group rounded" style="width: 50%;  ">
      <input type="text" onkeyup="sendData(this)" class="form-control rounded"  placeholder="Choose Your Book" aria-label="Search" aria-describedby="search-addon" />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span></div>
      
   <div class="col-10 rounded" style="width:90%;height:250px;overflow-y: auto;z-index: 3;  display: block; ">
  <section id="searchResults"  style="margin-top: -15px;color:#F6F7F8 ; background-color:#92B1B6; ">

    </section>
    </div>
    </div> 


</div>
<div class="row justify-content-center align-items-center" style="position: relative; bottom: 200px; ">
<img class="col-3" src="images/book-stack.png" style="width:20%; height:20%;"/>
<h3 class="col-7" style="width:70%;" ><br>Basically here you'll pick the book you read.
  Then write about what you made of it and let everyone in this site read about your experience with the book.
</h3>
</div>
    <!-- input form for review -->
    <form action="/submit" method="POST">
<div class="row" style="position: relative;bottom:100px; justify-content: center; margin-bottom: 20px; ">
  
  <div class="col-6 col-md-4 " style="height: 55%;">
<section id="enteredBookImage"  >
</section>
</div>
  
<div class="col-12 col-sm-6 col-md-8 "  >
  <input class="form-control" type="text" name="bookTitle" value="Title"    id="bookTitle" readonly></input>
  
  <textarea id="post-text" type="text" value="review" name="review" class="form-control rounded-0" style="z-index: 6;
  height: 250px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  outline: none;
  resize: none;" placeholder="What did you think?"></textarea>
  <p id="limit"></p>
  <button id="submit-button" type="submit" style="align-self: right; width:100%"  class="btn btn-dark">Submit</button>
</div>

</div></form>
      </div>
      </div>
      </div>
</div>
</div>
<script>
  var submitButton = document.getElementById("submit-button");
var postText = document.getElementById("post-text");
var result = document.getElementById("limit");
var limit = 999;
result.textContent = 0 + "/" + limit;

postText.addEventListener("input", function(){
  var textLength = postText.value.length;
  result.textContent = textLength+ "/" + limit;
  if (textLength> limit|| textLength<1){
    postText.style.borderColor = "#ff2851";
    postText.style.color= "#ff2851";
    submitButton.disabled = true;
    result.style.color = "#ff2851";
  } else{
    submitButton.disabled = false;
    postText.style.borderColor = "#b2b2b2";
    postText.style.color= "#737373";
  }
})
let timer;
  function  sendData(e){
    clearTimeout(timer);
    const searchResults = document.getElementById("searchResults");
    searchResults.innerHTML = `<div style=" " class="row justify-cotent-center"><lottie-player src="https://assets5.lottiefiles.com/packages/lf20_2scSKA.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px; left: 35%; position: relative;"  loop autoplay></lottie-player></div>`
    timer = setTimeout(()=>{
      console.log(e.value);
    let match = e.value.match(/^[a-zA-Z ]*/);
    let match2 = e.value.match(/\s*/);
    if(match2[0] === e.value){
      searchResults.innerHTML="";
      return;
    }
    if(match[0]===e.value){
      
      fetch("getBooks",{
      method: "POST",
      headers: {"Content-Type": "application/json"},
      body: JSON.stringify({payload: e.value})
    }).then(res => res.json()).then(data =>{
      let payload = data.payload;
      console.log(payload);
      
      if(payload.length<1){
        searchResults.innerHTML = "<p>Sorry. Nothing Found</p>";
        return;
      }
      searchResults.innerHTML="";
      payload.forEach((item)=>{
         searchResults.innerHTML += "<hr>";
        searchResults.innerHTML += `
        <a id="option" onclick='passBookData(this)'>
          <div style="cursor:pointer; margin-left:5px;" class="row">
            <img class="col-3"  style=" height:10%" src=${"https://covers.openlibrary.org/b/id/"+ item.cover_i+".jpg"}  />
            <div class="col-9">
              <h5><b>${item.title}</b></h5>
              <p>${item.author_name[0]}.</p>
              </div>
              </div>
              </a>`;
          return;
      });
      
    });
    return;
    }
    searchResults.innerHTML="";
    },300);
    
  };
  function passBookData(e) {
    const searchResults = document.getElementById("searchResults");
    const enteredBookImage = document.getElementById("enteredBookImage");
    const enteredBookTitle = document.getElementById("bookTitle")
    const imageStr = e.querySelector("img").src;
    const bookTitle = e.querySelector("b").innerHTML;
    searchResults.innerHTML = "";
    enteredBookImage.innerHTML = `<div style="border: 1px solid black; "><img name="bookImg" src=${imageStr} style="width:100%; height:100%; display:block; " /><input name="bookImg" style="position:absolute;z-index:-1;" value=${imageStr}></input></div>`
    enteredBookTitle.value = bookTitle;
  }
  </script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  
<%- include('partials/footer') %>